html{
    scroll-behavior: smooth;
}
#backGround{
    background-image: url(../img/Untitled\ design.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}
#backGround img{
    position: absolute;
    top: 15%;
    left: 15%;
    height: 70px;
    width: 70px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.row{
    width: 100%;
}

#production,#Profile,#skillset,#contact{
    margin-top: 17%!important;
}
.fa-instagram{
    color:#fff;
    background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
    border-radius: 20%;
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.fa-twitter{
    color: #55acee;
}
.fa-github{
    color: rgb(48, 48, 48);
}